@font-face {
    font-family: "harry potter";
    src: url("./fonts/HARRYP__.TTF");
}

body, html{
    height: 100%;
    margin: 0px;
    font-family: Helvetica;
}

.test{
    font-family: harry potter;
    display: inline-block;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

button{
    /*background-color: white; !* Green *!*/
    background-color: black; /* Green */
    /*border: 2px solid #008CBA;*/
    border: 2px solid rgba(0, 13, 128, 0.8);
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 1px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

#new-mail-submit, #fan-mail-btn{
    background-color: lightgrey; /* Green */
    border: 2px solid rgba(0, 13, 128, 0.6);
    color: black;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 1px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

button:hover{
    /*background-color: #008CBA;*/
    background-color: white;
    color: black;
    box-shadow: 0 5px 9px 0 rgba(149, 255, 224, 0.4), 0 7px 21px 0 rgba(149, 255, 224, 0.4);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

#new-mail-submit:hover, #fan-mail-btn:hover{
    background-color: black;
    color: white;
    box-shadow: 0 5px 9px 0 rgba(149, 255, 224, 0.4), 0 7px 21px 0 rgba(149, 255, 224, 0.4);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

#new-mail-submit, #new-mail-submit:hover{
    margin: 15px;
}

.new-mail-input{
    width: 80%;
    padding: 8px 12px;
    margin: 15px;
    box-sizing: border-box;
    border-radius: 7px;
    border: solid 1px #C0C0C0;
    background-color: lightgrey;
    color: black;
    vertical-align: center;
    font-family: Helvetica;
    font-size: 18px;
}

::placeholder{
    color: black;
}

#header-title{
    text-align: center;
    font-family: harry potter;
    font-size: 8rem;
    cursor: pointer;
    padding-bottom: 15px;
    margin: 0px;
    text-shadow: 4px 4px 10px #ffffff, 4px 4px 10px #ffffff;
}
.header-div{
    width: 56rem;
    margin: 0px;
    padding-bottom: 0.5rem;
    height: auto;
    margin: auto;
    text-align: center;
    /*background-color: rgba(82, 207, 216, 0.5);*/
    border-radius: 5px;
    /*transform: translate(-50%, -50%);*/
}
.container{
    width: 80rem;
    min-height: 40%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 0;
    border-radius: 7px;
}

#footer-span{
    word-spacing: 8px;
}

.book-photo{
    width: 230px;
    height: 100px;
}

.book-photo-big{
    width: 745px;
    height: 660px;
}

.img-div{
    text-align: center;
}

.left-div{
    position: absolute;
    z-index: 1;
    width: 35%;
    height: auto;
    padding: 15px;
    text-align: left;
    font-size: large;
}

.right-div{
    text-align: start;
    padding: 15px 15px 15px 50%;
    z-index: 1;
    width: 40%;
    height: auto;
    font-size: large;
}

.book-review-link{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

#return-index{
    color: #FFFFFF;
    cursor: pointer;
    margin: 15px;
}

#background{
    background-image: url('../static/img/hp-index.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

#background-house{
    background-image: url('../static/img/hp-house-bg.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

#background-castle{
    background-image: url('../static/img/hp-castle-bg.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

.background-book{
    background-image: url('../static/img/hp-book-bg.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

#fan-mail-btn{
    margin: 15px;
}

#fan-mail-table{
    margin: 15px;
    width: 78rem;
    /*border-bottom: 1px solid #00513b;*/
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

#fan-mail-table tr:nth-child(odd){
    background-color: #f1fffd;
}

th{
    background-color: rgba(9,114,106,0.51);
    color: black;
    padding: 6px;
    font-style: normal;
    font-weight: bold;
    border-bottom: 1px solid #00513b;
}

.show-mail-td{
    border-bottom: 1px solid #00513b;
    padding: 6px;
}

#fan-mail-body{
    font-size: 20px;
    width: 80rem;
    text-align: left;
    padding: 6px;
    background-color: #e4f4ec;
    border-radius: 7px;
    border-collapse: collapse;
}

#sender_name{
    width: 8rem;
    /*font-style: italic;*/
    font-family: harry potter;
    font-size: 40px;
}

#date{
    width: 7rem;
    font-style: italic;
}

#title{
    width: 10rem;
    font-weight: bold;
}

#message{
    width: 30rem;
}

#textarea-td{
    background-color: rgba(0,81,59,0);
}

.index-img{
    height: 30px;
    width: 80px;
}

.book-review-link{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}


.actor-name {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 18px;
}

.fiction-name {
    display: inline-block;
    argin-bottom: 50px;
    font-size: 20px;
    font-family: harry potter;
}

.actor-imdb-link{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.movie-photo{
    width: 315px;
    height: 600px;
}

.link-movies{
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}