<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <title>Title</title>
</head>
<body>
<div class="background-book">
    <div th:replace="/header :: header"></div>

    <br> 1. Harry Potter og De Vises Sten (1997)<br>
    <br>
    <div class="img-div">
        <img class="book-photo-big" src="../static/img/review Danish SS.PNG" alt="Danish Book Reviews"> <br>
    </div>
    2. Harry Potter og Hemmelighedernes Kammer (1998)<br><br>

    3. Harry Potter og Fangen fra Azkaban (1999)<br><br>

    4. Harry Potter og Flammernes Pokal (2000)<br><br>

    5. Harry Potter og Føniksordenen (2003)<br><br>

    6. Harry Potter og Halvblodsprinsen (2005)<br><br>

    7. Harry Potter og Dødsregialerne (2007)<br><br>

    8. Harry Potter og Det Forbandede Barn (2016)<br><br>

    9. Fantastiske Skabninger og Hvor De Findes (2016)<br><br>

    10. Fantastiske Skabninger: Grindelwalds Forbrydelser (2018)
    <br>
</div>
<div class="footer">
    <h5>Kontakt: <b>hp@fan4ever.com</b>
        <span id="footer-span">||</span> MEN ring ikke </h5>
</div>
</body>
</html>