<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <title>Title</title>
</head>
<body>
<div id="background">
    <div th:replace="/header :: header"></div>

    <br> 1. Harry Potter and the Philosopher’s Stone (1997)<br>
    <br>
    <img class="book-photo" src="../static/img/anmeldelse.png" alt="Simply Easy Learning"> <br>

    2. Harry Potter and the Chamber of Secrets (1998)<br><br>

    3. Harry Potter and the Prisoner of Azkaban (1999)<br><br>

    4. Harry Potter and the Goblet of Fire (2000)<br><br>

    5. Harry Potter and the Order of the Phoenix (2003)<br><br>

    6. Harry Potter and the Half-Blood Prince (2005)<br><br>

    7. Harry Potter and the Deathly Hallows (2007)<br><br>

    8. Harry Potter and the Cursed Child (2016)<br><br>

    9. Fantastic Beasts and where to find them (2016)<br><br>

    10. Fantastic Beasts: The crimes of Grindelwald (2018)
    <br>
    <footer class="footer">
        <h5>Kontakt: <b>hp@fan4ever.com</b>
            <span id="footer-span">||</span> MEN ring ikke </h5>
    </footer>
</div>
</body>
</html>