<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <title>Fan Mail</title>
</head>
<body>
    <div id="background">
        <div th:replace="/header :: header"></div>
        <div class="container">
            <button class="header-btn" onclick="window.location.href='/newMail'">New fanmail</button>
            <table>
                <tbody>
                    <th>Afsender</th>
                    <th>Dato</th>
                    <th>Title</th>
                    <th>Besked</th>
                    <tr th:each="mail : ${mails}">
                        <td id="sender_name" th:text="${mail.senderName}"></td>
                        <td id="date" th:text="${mail.date}"></td>
                        <td id="title" th:text="${mail.title}"></td>
                        <td id="message" th:text="${mail.message}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>