<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <title>Fan Mail</title>
</head>
<body>
    <div id="background-house">
        <div th:replace="/header :: header"></div>
        <div class="container">
            <button id="fan-mail-btn" onclick="window.location.href='/newMail'">New fanmail</button>
            <table id="fan-mail-table">
                <tbody id="fan-mail-body">
                    <th>Afsender</th>
                    <th>Dato</th>
                    <th>Title</th>
                    <th>Message</th>
                    <tr th:each="mail : ${mails}">
                        <td class="show-mail-td" id="sender_name" th:text="${mail.senderName}"></td>
                        <td class="show-mail-td" id="date" th:text="${mail.date}"></td>
                        <td class="show-mail-td" id="title" th:text="${mail.title}"></td>
                        <td class="show-mail-td" id="message" th:text="${mail.message}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="footer">
        <h5>Kontakt: <b>hp@fan4ever.com</b>
            <span id="footer-span">||</span> MEN ring ikke </h5>
    </div>
</body>
</html>