<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/stylesheet.css">
    <title>Harry Potter</title>
</head>
<body>
<div id="background" >
    <div th:replace="/header :: header"></div>
    <div class="container">
        <div class="left-div">
        <h2>Introting</h2>
        <ol>
            <li>Finde billeder</li>
            <li>Find tekst (intro)</li>
            <li>"Om os"</li>
            <li>Footer</li>
            <li>Tabel film oversigt</li>
            <li>Links til imdb</li>
            <li>input felter fanmail - og en måde at gemme dem</li>
            <li>Tabel over bøger</li>
            <li>Købs links</li>
            <li>Vores prof bedømmelse af de forskellige ting</li>
            <li>HTML side til skuespillere</li>
        </ol>
        </div>

        <div class="right-div">
            <p>eyyooooo</p>
        </div>
    </div>
    </div>
<div class="footer">
    <h5>Kontakt: <b>hp@fan4ever.com</b>
    <span id="footer-span">||</span> MEN ring ikke </h5>
</div>
</body>
</html>