<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/stylesheet.css">
    <title>Harry Potter</title>
    <link rel="stylesheet" href="../../../../../../Downloads/stylesheet.css">
</head>
<body>
<div id="background" >
    <div th:replace="/header :: header"></div>
    <div class="container">
        <div class="left-div">
            <h2>Introduktion</h2>
            <p>Træd ind i den magiske verden, hver en del af et fællesskab der bedre kan lide
                flyvende koste end fodbold og håndbold. Sving din stav og sig de magiske ord "avada kedavra"...
                HAHAHAHAH - nå nej det er forbudt. Bare sig "Wingardium Leviosa" på vaskeægte Hermione manér.
                Hop med i vores flyvende bil og undgå Whomping Willow... vi har vel lært fra Harry og Ron's kørsel.</p>
            <p>Det kan godt være, at vi er en flok kedelig muggles, men ved merlins skæg, hvor ville vi ønske
                at vi kunne svinge staven og få vores klamme moster til at flyve væk. Som en stor fed ballon.</p>
            <p>Mudbluds eller ej, vi elsker HP og alt der følger med! Og nej, vi har ikke drukket mere af polyjuice-gryden
                end vi kan tåle.</p>
        </div>

        <div class="right-div">
            <h2>Her på siden kan du:</h2>
            <li>Se information om filmene</li>
            <li>Se information om bøgerne</li>
            <li>Skrive fanmail der aldrig vil blive sendt videre</li>
            <li>Fordybe sig i de smukke illustrationer vi har stjålet fra nettet</li>
            <li>Kontakte os, bare læd vær at ring. Det har vi ikke tid til.</li>
            <li>Feedback eller klage? næ det kan du ikke :-)</li><br>
            <div class="index-img-div">
                <img src="../static/img/hpindex.png" alt="index-hp-photo">
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <h5>Kontakt: <b>hp@fan4ever.com</b>
    <span id="footer-span">||</span> MEN ring ikke </h5>
</div>
</body>
</html>