<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <title>Harry Potter Movies</title>
</head>
<body>
<div id="background-castle">
    <div th:replace="/header :: header"></div>
    <div class="container">
        <div class="actor-name" style="display: inline-block">Daniel Radcliffe as</div><div class="test"> HARRY POTTER</div>
    </div>
</div>
<div class="footer">
    <h5>Kontakt: <b>hp@fan4ever.com</b>
        <span id="footer-span">||</span> MEN ring ikke </h5>
</div>
</body>
</html>