<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <title>Harry Potter Movies</title>
</head>
<body>
<div id="background-castle">
    <div th:replace="/header :: header"></div>
    <div class="container">
        <div class="left-div">
            <h3>Harry Potter og De Vise Sten</h3>
            <img class="movie-photo" src="../static/img/potter.jpg" alt="Harry Potter and the">
        </div>

        <div class="right-div">
            <h3>Skuespillere</h3>
            <p class="actor-name">Daniel Radcliffe as  </p><p class="fiction-name">     HARRY POTTER</p><br>
            <p class="actor-name">Emma Watson as  </p><p class="fiction-name">    HERMIONE GRANGER</p><br>
            <p class="actor-name">Rupert Grint as  </p><p class="fiction-name">     RON WEASLEY</p><br>
            <p class="actor-name">Richard Harris as  </p><p class="fiction-name">   ALBUS DUMBLEDORE</p><br>
            <p class="actor-name">Alan Rickman as  </p><p class="fiction-name">     SEVERUS SNAPE</p><br>
            <p class="actor-name">Tom Felton as  </p><p class="fiction-name">   DRACO MALFOY</p><br>
            <p class="actor-name">Robbie Coltrane as  </p><p class="fiction-name">  RUBEUS HAGRID</p><br>
            <p class="actor-name">Maggie Smith as  </p><p class="fiction-name">     MINERVA MCGONAGAL</p><br>
            <a href="https://www.imdb.com/title/tt0241527/">Mere info omkring Harry Potter og De Vise Sten</a><br><br>
            <a class="link-movies" onclick="window.location.href='/potter2'"> Gå til Harry Potter og Hemmelighedernes Kammer</a>
        </div>
        <br>
        <br>
        <br>
    </div>
</div>
<div class="footer">
    <h5>Kontakt: <b>hp@fan4ever.com</b>
        <span id="footer-span">||</span> MEN ring ikke </h5>
</div>
</body>
</html>