<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <title>New Fan Mail!</title>
</head>
<body>
<div id="background-house">
    <div th:replace="/header :: header"></div>
    <form id="new-mail-form" th:action="@{/createMail}" method="post">
        <div class="container">
            <table>
                <tr>
                    <td><input class="new-mail-input" name="senderName" type="text" placeholder="Dit navn..."></td>
                    <td><input class="new-mail-input" name="title" type="text" placeholder="Titel..."></td>
                </tr>
                <tr>
                    <td id="textarea-td"><textarea rows="6" cols="52" form="new-mail-form" id="new-mail-message" class="new-mail-input" name="message" type="text" placeholder="Indtast besked her..."></textarea></td>
                </tr>
            </table>
            <input id="new-mail-submit" type="submit" name="submit" value="Send mail">
        </div>
    </form>
</div>
<div class="footer">
    <h5>Kontakt: <b>hp@fan4ever.com</b>
        <span id="footer-span">||</span> MEN ring ikke </h5>
</div>
</body>
</html>